* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #007995;
    padding: 16px 0;
    color: aliceblue;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;  
}

header li a{
    color: aliceblue;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}   

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
   /* height: 180px; */
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, 
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#esportes{
    background-color: rgb(176, 206, 131);
}

#esportes .articles article a{
    background-color: rgb(50, 148, 50);
    color: black;
}

#economia{
    background-color: rgb(221, 203, 4);
}

#economia .articles article a{
    background-color: rgb(255, 140, 0);
    color: black;
}

#entreterimento{
    background-color: rgb(241, 136, 154);
}

#entreterimento .articles article a{
    background-color: rgb(180, 77, 17);
    color: black;
}

#tecnologia{
    background-color: rgb(146, 103, 185);
}

#tecnologia .articles article a{
    background-color: rgb(74, 38, 173);
    color : black;
}